@media screen and (max-width: 991px){
  .sidebar-collapse .navbar-collapse:before {
    background: transparent;
    background: linear-gradient(#d2f4f3,Grey 80%);
  }
  .navbar-nav .dropdown-menu {
    position: static !important;
  }
}

@media screen and (max-width: 768px){
  .nav-tabs {
    padding-left: 10px;
    padding-right: 10px;
  }
}
